{% extends 'base.html.twig' %}

{% block content %}
    <h1 class="display-4 fw-normal text-center mb-5">{{ 'general.homeTitle'|trans }}</h1>


    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <h2>{{ 'general.welcome'|trans }} {{ app.user.email }}</h2>
    {% else %}
        <div class="container">
            <div class="row row-cols-1 row-cols-md-2 mb-3 mt-3 text-center">
                <div class="col">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">{{'form.title.signUp'|trans}}</h4>
                        </div>
                        <div class="card-body">
                            {{ form(registrationForm) }}

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">{{'form.title.signIn'|trans}}</h4>
                        </div>
                        <div class="card-body">
                            <form action="{{ path('login') }}" method="post">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                                <div class="form-floating">
                                    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"/>
                                    <label for="username" class="form-label required">Email</label>
                                </div>

                                <div class="form-floating">
                                    <input type="password" id="password" name="_password" class="form-control"/>
                                    <label for="password" class="form-label required">{{'form.labels.password'|trans}}</label>
                                </div>

                                {% if error %}
                                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}

                                <input type="hidden" name="_target_path" value="/"/>

                                <button  class="w-100 btn btn-lg btn-primary mt-3" type="submit">{{'form.title.signIn'|trans}}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
